button {
    cursor: pointer;
}

header {
    padding: 1rem 0;
    background-color: var(--header);
}

@import 'nav';

.container {
    display: grid;
    grid-template-columns: 1fr min(1600px, calc(100% - 2rem)) 1fr;
    grid-column-gap: 1rem;

    >* {
        grid-column: 2;
    }

    .full-width {
        grid-column: 1/-1;

        // Overide wordpress img defaults
        figure,
        &:is(figure) {
            width: 100%;
            margin: 0;

            &.header-img img {
                max-height: 800px;
            }

            img {
                width: 100%;
                max-height: 600px;
                object-fit: cover;
            }
        }
    }
}

.main-content {
    margin: 1rem 0;

    @media (width >=1024px) {
        margin: 6rem 0;
    }
}

.cta {
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 10px;

    * {
        padding: 0;
        margin: 0;
    }

    .wp-block-button__link {
        padding: 1rem;
    }
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    * {
        margin: 0;
    }

    label {
        font-size: clamp(16px, 4vh, 18px);
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    input {
        padding: 1rem;
        border: 1px solid rgb(214, 214, 214);
        border-radius: 3px;

        &[type="submit"] {
            min-width: 150px;
            transition: background-color 300ms;
            cursor: pointer;

            &:focus, &:hover {
                background-color: grey;
            }
        }
    }

    .wpcf7-response-output {
        padding: 10px;
        margin: 0;
        font-family: 'roboto', sans-serif;
    }
}

.wp-block-button__link {
    border: 0 !important;
    transition: background-color 300ms !important;

    &:hover,
    &:focus {
        background-color: rgb(184, 184, 184) !important;
    }
}

footer {
    background-color: var(--footer);

    .footer-inner {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100%;

        img {
            width: 240px;
            height: 240px;
        }

        .widgets {
            display: flex;
            flex-wrap: wrap;
            padding: 0.5rem;
            align-items: center;
            justify-content: space-evenly;

            >* {
                padding: 0.5rem;
            }
        }

        .copyright {
            align-self: center;
        }
    }
}